@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, a {
    padding: 0;
    margin: 0;
    background-color: #323232;
    color: #E0DDD6;
    font-family: 'Work Sans', serif;
}

/* Navbar */
.nava-bar {
    padding: 1.5rem 2rem;
    font-weight: 800;
}

.nava-bar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.nava-bar li {
    list-style: none;
}

.nava-bar a {
    color: #E0DDD6;
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.nava-bar a:hover {
    color: #CADD57;
}

/* Wrapper */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18vh 10vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center img {
    width: 250px;
    height: auto;
    border: 3px solid #CADD57;
    border-radius: 20rem;
}

.center p {
    padding: 0;
    margin: 0.8rem 2rem;
}

/* Quote Section */
.qoute {
    background-color: #E0DDD6;
    color: #323232;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
}

.qoute:hover {
    background-color: #CADD57;
    box-shadow: 10px 10px #E0DDD6;
    font-weight: 800;
}

/* Cards */
.cards {
    border: 2px solid #E0DDD6;
    padding: 1.5rem 1rem;
    width: 40%;
}

.lang a {
    color: #CADD57;
    text-decoration: none;
}

.wrapper h2 {
    margin-right: 35%;
    font-size: 2rem;
    color: #CADD57;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 60%;
    flex-wrap: wrap;
}

.wrapper a {
    text-decoration: none;
}

/* Button */
#see-more {
    padding: 2rem 10rem;
    margin-top: 3rem;
    background-color: #CADD57;
    color: #323232;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* About Me Section */
.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about-me p {
    margin: 1rem 2rem;
}

.about-me h1 {
    color: #CADD57;
}

.links {
    display: flex;
    gap: 2.5rem;
}

.about-me img {
    border-radius: 10rem;
    width: 30%;
}

/* Skills Section */
.skills {
    display: flex;
    gap: 2rem;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
}

/* Media Queries */

/* For mobile (up to 37.5em or 600px) */
@media (max-width: 37.5em) {
    body {
        font-size: 10px;
    }

    .nava-bar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nava-bar a {
        font-size: 1.2rem;
    }

    .wrapper {
        padding: 10vh 5vh;
    }

    .center img {
        width: 180px;
    }

    .card-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .cards {
        width: 80%;
    }

    #see-more {
        padding: 1.5rem 5rem;
        font-size: 0.8rem;
    }
}

/* For tablets (up to 48em or 768px) */
@media (max-width: 48em) {
    body {
        font-size: 16px;
    }

    .nava-bar a {
        font-size: 1.2rem;
    }

    .card-wrapper {
        width: 100%;
        gap: 1.5rem;
    }

    .cards {
        width: 70%;
    }

    #see-more {
        padding: 1.5rem 8rem;
    }
}

/* For desktops (above 48em or 768px) */
@media (min-width: 48em) {
    body {
        font-size: 18px;
    }

    .cards {
        width: 40%;
    }

    #see-more {
        font-size: 1rem;
        padding: 2rem 10rem;
    }
}
